.game-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.go-back {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #5A361D00;
  border: none;
  color: #FFEA81;
  border-radius: 10px;
}

.go-back:hover, .go-back:focus {  
  box-shadow: #ffffff  0px 0px 10px;
  background-color: #FFEA81;
  color: #000;
  border: 1px solid #fff;
} 

.chest-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.chest-selection h1 {
  color: #FFF;
  font-size: 2.2rem;
}

.chests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.game-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0 5rem;
}

.game-info-container p {
  text-align: center;
}

.selected-chest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #00000088;
  border-radius: 15px;
  box-shadow: #ffffff88 0px 0px 10px;
  border: 2px solid #fffb00;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fff;
}

.character {
  height: 130px;
  object-fit: contain;
}

.coins-earned {
  font-size: 1.4rem;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  background-color: #00000088;
  border-radius: 10px;
  box-shadow: #ffffff88 0px 0px 10px;
  border: 2px solid #fffb00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
