.game-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.go-back {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 15px 15px;
  background-color: #ffffff00;
  border: 1px solid #fffb00;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: #fffb00 0 0 10px;
}

.chest-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.chest-selection h1 {
  color: #FFFFff;
  text-shadow: #ffffff 0px 0px 3px;
}

.chests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.game-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0 5rem;
}

.game-info-container p {
  text-align: center;
}

.selected-chest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #F39C12;
  border-radius: 15px;
  box-shadow: #ffffff88 0px 0px 10px;
  border: 2px solid #fffb00;
  padding: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

.character {
  height: 150px;
  object-fit: contain;
}

.coins-earned {
  font-size: 1.4rem;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  background-color: #F39C12;
  border-radius: 10px;
  box-shadow: #ffffff88 0px 0px 10px;
  border: 2px solid #fffb00;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
