.home-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.logo {
    height: 40vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: stretch;
}

.character-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.announcement {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.start {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
}

.home-page-container button {
    background: none;
    border: none;
    cursor: pointer;
}

.select-character {
    transition: transform 0.5s;
}

.select-character:hover {
    transform: scale(1.05);
}

.info {
    transition: transform 0.5s;
}

.info:hover {
    transform: scale(1.1);
}

.personaje-seleccionado {
    height: 25vh;
}

.boton-iniciar {
    height: 15vh;
}
