.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 70%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.modal-img {
  width: 80%;  /* Adjusted to 100% of the modal content width */
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the image within the modal */
  z-index: -1;
}

.modal-text {
  width: 60%;
  height: 60%;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
}

.modal-text h1 {
  font-size: 2em;
  color: #ffcc66; 
  margin-bottom: 3rem;/* Yellow color for the h1 */
}

.modal-text p {
  font-size: 1.2em;
  color: white; /* White color for paragraphs */
}

/* Button container */
.modal-close-container {
  background-color: red; /* Red background for the container */
  border-radius: 5px;
  padding: 3px;
  margin-top: 20px;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adds shadow for more effect */
}

/* Close button */
.modal-close {
  background-color: transparent; /* Transparent background to show the image behind */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold; /* Bold text */
  text-transform: uppercase;
}

/* Focus state for the button */
.modal-close-container:hover {
  outline: 2px solid yellow; /* Adds a yellow border when focused */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.8); /* Adds a yellow shadow */
}
